django-cors-headers
django-environ
Django
git+git://github.com/mnieber/django-graphql-auth@feature/return-activation-token#egg=django-graphql-auth
graphene-django     
psycopg2
slackclient
transitions
