{% extends "actions/action_form.html" %}

{% block explanation %}
  <b>This will</b>
  <ul>
    <li>Send an email to the changemaker with a link to reset their password.</li>
  </ul>

  <b>Notes</b>
  <ul>
    <li>The email text contains special tags such as
    {% templatetag openvariable %} project_request.changemaker_name {% templatetag closevariable %}.
    These are placeholders where information is filled in later. You can move these placeholder to a different
    location in the email, but don't make any changes to the placeholder itself.
    </li>
  </ul>
{% endblock %}

{% block formbody %}
    <div class="d-flex flex-column">
      <p><b>Email receipient:</b> {{ project_request.email }}
      <div class="d-flex flex-column">
        <b>Subject:</b>
        <input id="email_subject" name="email_subject" placeholder="" value="Welcome onboard!">
      </div>
      <div class="d-flex flex-column mt-4">
        <b>Email contents:</b>
        <textarea id="email_body" name="email_body" rows="8" cols="80" class="emailBody border-0">
{% include "actions/ProjectRequest.approve.email.txt" %}
        </textarea>
      </div>
    </div>

{% endblock %}

{% block btntitle %}Approve project request{% endblock %}
{% block btnclass %}btn-secondary{% endblock %}

{% block css %}
{% endblock %}

{% block scripts %}
{% endblock %}
